@import url("../../node_modules/bootstrap-icons/font/bootstrap-icons.css");
// Paleta de colores
$blue: #5C7AFF;
$green: #007D3C;
$yellow: #FBDE59;
$light: #f7f7f7;
$white: #ffffff;
$dark: #181818;

@import "../../node_modules/bootstrap/scss/bootstrap";

.btn,
.card {
  border-radius: 10px
}

.card {
  border: none;
}

.form-check-input {
  &.active {
    background: $green;
  }
}